<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="calm-shepherd-step.html">
<link rel="stylesheet" href="../tether-shepherd/dist/css/shepherd-theme-arrows.css">

<script src="../tether/dist/js/tether.js"></script>
<script type="text/javascript" src="../tether-shepherd/dist/js/shepherd.js"></script>

<!--
`calm-shepherd` is a wrapper for the Shepherd.js library.

@demo demo/index.html
-->

<dom-module id="calm-shepherd">
    <template>
    <style>
    :host{
        display: none;
    }
    </style>
    <content id="content" select="calm-shepherd-step"></content>
</template>

<script>
(function(){
    var tour = new Shepherd.Tour({
        defaults: {
            scrollTo: false
        }
    });
    Polymer({
        is: "calm-shepherd",
        properties: {

            /**
            *	Array of shepher-steps.
            */
            steps: {
                type: Array,
                value:function(){return [];},
                notify: true
            },

            _isReady: {
                type: Boolean,
                value: false,
                notify: true
            },

            _stepCanBeDismissed: Boolean,

            _stepShouldBeDismissed: Boolean
        },


        ready: function(e){

        },


        attached: function(e){
            // Gets the correct style scope.
            this.async(function(){
                var matches = /(?:style-scope )([\w-]+)/g.exec(this.className);
                var node = this.parentElement;
                if (matches == null || matches.length == 0){
                    this._createTour("");
                    return;
                }
                while (node.tagName.toLowerCase() != matches[1]){
                    node = node.parentElement;
                }
                var matches = /(?:x-scope )([\w-]+)/g.exec(node.className);
                if (matches == null){
                    this._createTour("");
                }
                else{
                    this._createTour(matches[1]);
                }
            }, 500);
        },

        /**
        *	Creates the shepherd tour.
        */
        _createTour:function(className){
            var nodes = Polymer.dom(this.$.content).getDistributedNodes();
            for (var index = 0 ; index < nodes.length ; index ++){
                tour.addStep(nodes[index].id, {
                    text: nodes[index],
                    attachTo: "#"+nodes[index].attachTo+" "+nodes[index].position,
                    buttons: [],
                    classes:'shepherdTour shepherd-step shepherd-theme-arrows calm-shepherd '+className
                });
                var parent = Polymer.dom(this).parentNode;
                var targetNode = Polymer.dom(parent).querySelector("#"+nodes[index].attachTo);
                if (!nodes[index].manual){
                    targetNode.tourId = nodes[index].id;
                    this.listen(targetNode, "mouseenter", "_showStepOfElement");
                    this.listen(targetNode, "mouseleave", "_dismissStepOfElement");
                }
            this._isReady = true;
        }
    },

    _showStepOfElement: function(e){
        var stepId = e.target.tourId || e.srcElement.tourId;
        if (stepId == null){
            console.warn("tourId of event source is null.");
            return;
        }
        this.showStep(stepId);
        this._stepCanBeDismissed = false;
        this._stepShouldBeDismissed = false;
        this.async(function(){
            this._stepCanBeDismissed = true;
            this._handleStepDismissal(stepId);
        }, 500);
    },

    _dismissStepOfElement: function(e){
        var stepId = e.target.tourId || e.srcElement.tourId;
        if (stepId == null){
            console.warn("tourId of event source is null.");
            return;
        }
        this._stepShouldBeDismissed = true;
        this._handleStepDismissal(stepId);
    },

    _handleStepDismissal: function(stepId){
        if (this._stepShouldBeDismissed && this._stepCanBeDismissed){
            this.hideStep(stepId);
        }
    },

    /**
    *	Shows the step with the given id.
    */
    showStep: function(id){
        if (tour == null || id==null) return;
        if (!this._isReady){
            this.async(function(){this.showStep(id)}, 500); return;}
        tour.show(id);
    },

    /**
    *	Hides the currently shown step.
    */
    hideStep: function(){
        if (tour == null) return;
        tour.hide();
    }
});
})();
</script>
</dom-module>
