<link rel="import" href="../polymer/polymer.html">

<!--
`calm-shepherd-step` is used with calm-shepherd and represents one step of the tour.

@demo demo/index.html
-->

<dom-module id="calm-shepherd-step">
    <template>
    <style>
    :host{
        max-width: 800px;
        margin: 0;
        display: block;
    }
    #header{
        margin-top: -15.4px;
        margin-left: -15.4px;
        margin-right: -15.4px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 16px;
        background-color: var(--calm-shepherd-step-background-color, gray);
        color: var(--calm-shepherd-step-color, white);
    }
    #header::content>*{
        margin: 0;
    }
    #wrapper{
        margin-top: 16px;
        max-height: var(--calm-shepherd-step-max-height, 400px);
        overflow-y: auto;
        overflow-x: hidden;
        padding-bottom: 8px;
    }
    </style>
    <div id="shepherdStep" on-mouseenter="_startInteraction" on-mouseout="_endInteraction">
        <div id="header" class="style-scope calm-shepherd">
            <content id="headerContent" select=".header"></content>
        </div>
        <div id="wrapper">
            <content id="content" select=".content"></content>
        </div>
    </div>
</template>

<script>
Polymer({
    is: "calm-shepherd-step",
    properties: {

        /**
        *	The id of this step. Needs to be completely unique.
        */
        id: String,

        /**
        *	The id of the element this should be attached to. Needs to be absolutely unique. Leave emtpy to display the step in the middle of the screen.
        */
        attachTo: String,

        /**
        *   Where the step should be positioned around the element. Options are: bottom, top, right, left.
        */
        position: {
            type: String,
            value: "right",
            notify: true
        },

        /**
        *   If true the step will only be shown when the 'showStep' method of calm-shepherd is called.
        *   Otherwise the step is automatically shown when the linked element is hovered.
        */
        manual: {
            type: Boolean,
            value: false,
            notify: true
        }
    },


    attached: function(e){
        if (this.classNameCopy == null){
            this.classNameCopy = this.className;
            this.$.shepherdStep.className = this.className;
        }
    },

    /**
    *	Fires the shepherd-step-interaction-begins event.
    */
    _startInteraction: function(){
        this.fire("shepherd-step-interaction-begins");
    },

    /**
    *	Fires teh shepherd-step-interaction-ends event.
    */
    _endInteraction: function(){
        this.fire("shepherd-step-interaction-ends");
    },

    /**
    *	Scrolls up the content.
    */
    scrollUp: function(){
        this.$.wrapper.scrollTop = 0;
    }
});
</script>
</dom-module>
